/* Se estiver usando a fonte Satoshi */
@font-face {
  font-family: 'Satoshi';
  src: url('../public/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('../public/Fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Se estiver usando a fonte Clash Display */
@font-face {
  font-family: 'Clash Display';
  src: url('../public/Fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('../public/Fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #030504;
  display: inherit;
  overflow-x: hidden;
}