.backgroundPage{
    margin-left: 72px;
    margin-right: 72px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #030504;
    margin-top: 296px;
}

.regrasStyle{
  color: #FFF;

font-family: Clash Display;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.Rules { 
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 64px;
  margin-bottom: 30px;
  /* background-color: #000; */
}

.Row {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.titleMax{
  color: #FFF !important;
  text-align: center!important;
  font-family: Clash Display!important;
  font-size: 48px!important;
  font-style: normal!important;
  font-weight: 600!important;
  line-height: normal!important;
}

.subTitleMax{
  color: #FFF!important;
text-align: center!important;
font-family: Satoshi!important;
font-size: 32px!important;
font-style: normal!important;
font-weight: 300!important;
line-height: normal!important;

}