/* .classText {
  font-weight: bold !important;
  color: #fff !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) !important;
}

.orange-text {
  color: #d31145 !important;
} */
